.row {
  display: flex;
}

.card-link {
  background-color:#e6e6e6;
  margin: 1.2rem;
  padding: 0.5rem;
  border-color:  #cfcfcf;
  border-style: solid;
  border-width: 0.3rem;
  border-radius: 25px;
  max-width: 250px;
  height: 90%;
}

.card-link p {
  color: hsla(0,0%,0%,0.9);
}
.card-link:hover {
  border-color: #ff483b;
}

.work-section {
  background-color: #e6e6e6;
  margin: 1.2rem 0;
  padding: 0.75rem;
}

.work-section h3 {
  margin-top: 0.5rem;
}

.work-section-list li {
  margin-bottom: .25rem;
}

.site-links ul a{
  padding: 0 1rem;
}

.contact ul a {
  font-size: 4rem;
  padding: 1rem;
}

.post-list {
  background-color: #e6e6e6;
  margin: 1.2rem 0;
  padding: 1rem;
}

.post-list h3 {
  margin-top: 0.5rem;
}

.post-list p {
  margin-bottom: 0;
}

.home-picture {
  padding: 3rem 3rem 1rem 3rem;
}