.row {
    display: flex;
}

.card-link {
    background-color: rgb(230, 236, 255);
    margin: 1.2rem;
    padding: 0.5rem;
    border-color:  rgb(230, 236, 255);
    border-style: solid;
    border-width: 0.3rem;
}

.card-link:hover {
    border-color: rgb(127, 159, 255);
}